

a {
	text-decoration: none;
	display: inline-block;
	color: black;
}
.silka {
	
	list-style-type: none;
	font-size: 20px;
	margin-left: 50px;

}

.zvezda::before {
	content: "★";
}
.serdze::before {
	content:"🎔";
	margin-left: 30px;
}
.solnze::before {
	content:"☀";
	margin-left: 60px;
}
a::after {
	content: "";
	width: 50%;
	background-color: black;
	height: 1px;
	display: block;

}