* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrap {
	width: 1240px;
	background: black;
	height: 100%;
	
	
}
.wrapper {
	
	width: 1240px;
	height: 100%;
	margin-left: 270px;
	position: static;


}
header {
	width: 700px;
	height: 100px;
	background-color: grey;
	
}
header p {
	line-height: 130px;
	padding-left: 30px;
	font-size: 20px;
	color: white;
}
aside {
	width: 100px;
	height: 452px;
	background-color: green;
	float: left;

} 
aside p {
	line-height: 100px;
	padding-left: 30px;
	font-size: 20px;
	color: white;
}
.content {
	width: 500px;
	height: 100%;
	background-color: blue;
	float: left;
	padding-left: 25px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
}
.aside2 {
	width: 100px;
	height: 452px;
	background-color: red;
	float: left;
}
.aside2 p {
	line-height: 100px;
	padding-left: 30px;
	font-size: 20px;
	color: white;
}
footer {
	width: 700px;
	background-color: grey;
	height: 95px;
	clear: both;
}
footer p {
	line-height: 100px;
	padding-left: 30px;
	font-size: 20px;
	color: white;
}